/***
 * http://css-tricks.com/ordering-css3-properties/
 * http://www.456bereastreet.com/archive/201311/cutting_down_on_vendor_prefixes/
 ***/

@import "seattletimes";

body {
  margin: 0;
  padding: 0 20px;
}

#timeline {
  list-style: none;
  width: 100%;
  margin: 300px 0 0;
  border-top: 2px solid @df-middle-gray;
  display: table;
  border-spacing: 30px 0;
  position: absolute;
  li {
    display: table-cell;
    position: relative;
    min-width: 100px;
  }
}

.content {
  text-align: center;
  position: relative;
}

.event {
  width: 125px;
  display: block;
  position: absolute;
  margin-left: 50px;
  margin-bottom: 5px;
  text-align: left;
  font-size: 14px;
  line-height: 1.42105263;
  background: white;
  padding: 0 3px 5px 12px;
  border-left: 2px solid @df-middle-gray;
  bottom: 0;
  min-height: 271px;
  &:before {
    border-top: 2px solid @df-middle-gray;
    content: '';
    width: 9px;
    left: 0;
    position: absolute;
  }
}
.circle {
  margin: 0 auto;
  top: -6.5px;
  left: 0;
  right: 0;
  width: 9px;
  height: 9px;
  background: @df-middle-gray;
  border-radius: 50%;
  display: block;
  position: absolute;
}

.year {
  color: @df-middle-gray;
  font-size: 12px;
  font-family: "ff-dagny-web-pro", Helvetica Neue, Helvetica, sans-serif;
  margin: 10px 0px 0px 22px;
  transform: rotate(-45deg);
  position: absolute;
}

.rectangle {
  border: 1px solid @df-middle-gray;
  border-radius: 30px;
  height: 30px;
  width: 200px;
  top: -19px;
  position: relative;
  background: white;
  line-height: 30px;
  text-align: center;
}
