<!doctype html>
<html>
  <head>
    <title><%= json.project.title %></title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link rel="stylesheet" type="text/css" href="timeline.css">
    <%= t.include("partials/_adHead.html") %>
  </head>
  <body>
    <ul id="timeline">
    
      <% json.timeline_testing.forEach(function(row) { %>

      <li class="event <%= row.direction %>">
        <div class="content">
          <div class="event"><strong><%= row.event %></strong>&nbsp; <% if (row.description) { %>
          <%= row.description %>
          <% } %>
          </div>
        </div>

        <div class="dot">
          <span class='circle'></span>
        </div>
        <div class="year"><%= row.year %></div>
      </li>

      <% }) %>
  
      <li class="last">
        <div class="rectangle">
          story continuing ...
        </div>
      </li>
    </ul>

    <script src="app.js"></script>
    <% if (json.project.production) { %>
    <%= !json.project.embedded ? t.include("partials/_adFoot.html") : "" %>
    <%= t.include("partials/_workHere.html") %>
    <% } %>
  </body>
</html>
