<!doctype html>
<html>
  <head>
    <title><%= json.project.title %></title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link rel="stylesheet" type="text/css" href="timeline.css">
    <%= t.include("partials/_adHead.html") %>
  </head>
  <body>
    <ul id="timeline">
       <ul class="date">
        <li>2007</li>
        <li>2008</li>
        <li>2009</li>
        <li>2010</li>
        <li>2011</li>
        <li>2012</li>
        <li>2013</li>
        <li>2014</li>
        <li>2015</li>
        <li>2016</li>
      </ul>


 <% json.timeline_testing.forEach(function(row) { %>

  <li class="date <%= row.direction %>">
    <div class="content">
      <div class="avatar"><strong><%= row.event %></strong>&nbsp; <% if (row.description) { %>
      <%= row.description %>
      <% } %>
      </div>
    </div>

    <div class="dot">
      <span class='circle'></span>
    </div>
  </li>
      <% }) %>
  <li class="last">
    <div class="rectangle">
      story continuing ...
    </div>
  </li>
</ul>
    <script src="app.js"></script>
    <% if (json.project.production) { %>
    <%= !json.project.embedded ? t.include("partials/_adFoot.html") : "" %>
    <%= t.include("partials/_workHere.html") %>
    <% } %>
  </body>
</html>
